<header class="page-header">
    <div class="hero">
        <div class="header-logos">
            <div class="wrapper wrapper--large">
                <div class="header-logos__inner">
                    <a href="" title=""><img src="./images/logo-libertex.png" title="Libertex"></a>
                    <a href="" title=""><img src="./images/logo-signed.png" title="Proudly signed by some important person"></a>
                </div>
            </div>
        </div>
        <div class="header-title">
            <h1>Стань чемпионом лиги</h1>
            <span class="header-title__hint">Вместе с Хамесом нашим Родригесом</span>
        </div>
        <div class="awards">
            <div class="awards__item">
                <picture>
                    <img class="lazyload" src="./images/award-1.png" title="Награда за ...">
                </picture>
            </div>
            <div class="awards__item">
                <picture>
                    <img class="lazyload" src="./images/award-2.png" title="Награда за ...">
                </picture>
            </div>
            <div class="awards__item">
                <picture>
                    <img class="lazyload" src="./images/award-3.png" title="Награда за ...">
                </picture>
            </div>
        </div>
        <div class="wrapper wrapper--small">
            <div id="target" class="form form--registration">
                <form id="registration">
                    <div class="form__inputs">
                        <input id="name" type="text" name="name" placeholder="Имя">
                        <input id="surname" type="text" name="surname" placeholder="Фамилия">
                        <input id="tel" type="tel" name="tel" value="+382">
                        <input id="email" type="email" name="email" placeholder="Эл. почта">
                    </div>
                    <div class="form__submit">
                        <button id="submit" class="btn" type="submit">Порвать всех!</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</header>